*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	outline:none;
	border:none;	
	font-size:20px;
	font-family: algerian;
}
body{
	background-color: ;
}
.height{
	height:90vh;
}
button{
	width:25%;
	padding:10px;
	border-radius: 50px!important;
}
input{
	width: 100%;
	padding:25px;
	border-radius:25px;
	box-shadow: inset 5px 5px 12px gray;
	margin-bottom: 10px!important;	
}
.row{
	--bs-gutter-x: 0!important;
}
.cover{
	border:1px solid black;
	border-radius: 20px;
	padding:20px 20px !important;	
	background-color: black;
}
button:active{
	padding:1px;
	display: inline-block;
	background-color:lime !important;
}
body{
	background-color: lightslategray!important;
}